{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<form method="post">
    {% csrf_token %}
    <div>
      {{ formset.management_form|crispy }}
    </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            {% for field in formset.forms.0 %}
                {% if not field.is_hidden %}
                    <th scope="col" class="col-auto">{{ field.name|title }}</th>  <!-- Table headers use the label tags -->
                {% endif %}
            {% endfor %}
          </tr>
        </thead>
        <tbody>
            {% for form in formset %}
                <tr>
                  {% for field in form %}
                    {% if not field.is_hidden %}
                        <td class="col-auto">{{ field|as_crispy_field }}</td>
                    {% endif %}
                  {% endfor %}
                </tr>
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}