{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<form method="post">
    {% csrf_token %}
    <table class="table table-bordered">
        <thead>
          <tr>
            {% for field in formset.forms.0 %}
                {% if not field.is_hidden %}
                    <th scope="col" class="col-auto">{{ field.name|title }}</th>  <!-- Table headers use the label tags -->
                {% endif %}
            {% endfor %}
            <th scope="col" style="width: 10%">Actions</th>
          </tr>
        </thead>
        <tbody>
            {% for form in formset %}
                <tr>
                  {% for field in form %}
                    {% if not field.is_hidden %}
                        <td class="col-auto">{{ field|as_crispy_field }}</td>
                    {% endif %}
                  {% endfor %}
                    <td class="w-10" style="width: 10%;">
                      <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-primary me-2 edit-button">Edit</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                      </div>
                    </td>
                </tr>
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</form>
{% endblock content %}